.row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 24px;
   padding: 36px 0;

   height: 100vh;
}

.intro {
   width: 50%;
}

.section {
   display: flex;
   width: 50%;
   height: 100%;
   column-gap: 6.8rem;

   .back {
      display: inline-flex;
      align-items: center;
      align-self: flex-start;
      column-gap: 12px;
      cursor: pointer;

      img {
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background: rgba(192, 192, 192, 0.2);
      }
   }

   .block {
      display: flex;
      align-items: center;
      align-self: center;
      width: 100%;
      max-width: 343px;
   }
}

@media (max-width: 1439px) {
   .row {
      justify-content: unset;
      column-gap: 40px;
   }
   .intro {
      text-align: center;
   }
}

@media (max-width: 900px) {
   .row {
      flex-direction: column;
      justify-content: unset;
      height: auto;
      padding: 30px 0;
   }

   .intro {
      display: none;
   }

   .section {
      flex-direction: column;
      column-gap: unset;
      width: 100%;
   }

   .back {
      margin-bottom: 40px;
   }
}

@media (max-width: 600px) {
   .section {
      .block {
         max-width: 100%;
         width: 100%;
      }
   }
}
