.block {
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   text-align: center;

   width: 31.1rem;

   &__title {
      font-size: 20px;
      font-weight: 500;
   }

   &__subtitle {
      font-weight: 500;
      color: $medium-dark;
   }

   &__btns {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
   }
}
