.section {
   max-width: 343px;
   width: 100%;
   .mobImg {
      display: none;
   }

   @media (max-width: 900px) {
      .mobImg {
         display: block;
         max-width: 180px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   @media (max-width: 600px) {
      max-width: 100%;
   }
}
