// main colors
$extra-dark: #212121;
$extra-light: #fff;

// secondary colors
$medium-dark: #767676;
$succes-color: #1ba228;
$error-color: #ec0000;

// Типографика
$font-size-paragraph: 1.6rem;
